flows.json
[
    {
        "id": "e0fb2a1b4fe214e2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72f6932a2e04d991",
        "type": "mqtt in",
        "z": "e0fb2a1b4fe214e2",
        "name": "Recebe Dados ESP32",
        "topic": "esp32/passes/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "c2feb7b856f85cc0",
                "4704f49d47dd8e68"
            ]
        ]
    },
    {
        "id": "c2feb7b856f85cc0",
        "type": "json",
        "z": "e0fb2a1b4fe214e2",
        "name": "JSON Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1330,
        "y": 280,
        "wires": [
            [
                "629b717492860f39",
                "ece3240f5acecbc5",
                "cae5b0fe49c85853",
                "185b3bb0337aec19"
            ]
        ]
    },
    {
        "id": "629b717492860f39",
        "type": "ui_text",
        "z": "e0fb2a1b4fe214e2",
        "group": "b481b188a48757d5",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Jogadora Atual",
        "label": "🏃 Jogadora",
        "format": "{{msg.payload.player}}",
        "layout": "row-spread",
        "x": 1580,
        "y": 240,
        "wires": []
    },
    {
        "id": "ece3240f5acecbc5",
        "type": "ui_gauge",
        "z": "e0fb2a1b4fe214e2",
        "name": "Total de Passes",
        "group": "b481b188a48757d5",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "donut",
        "title": "⚽ Passes Totais",
        "label": "passes",
        "format": "{{msg.payload.passes}}",
        "min": 0,
        "max": "50",
        "x": 1590,
        "y": 300,
        "wires": []
    },
    {
        "id": "cae5b0fe49c85853",
        "type": "ui_chart",
        "z": "e0fb2a1b4fe214e2",
        "name": "Intervalo entre Passes",
        "group": "b481b188a48757d5",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "📈 Intervalo (s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#00bcd4"
        ],
        "outputs": 1,
        "x": 1600,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "185b3bb0337aec19",
        "type": "ui_text",
        "z": "e0fb2a1b4fe214e2",
        "group": "b481b188a48757d5",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Velocidade do Passe",
        "label": "⏱️ Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 1600,
        "y": 420,
        "wires": []
    },
    {
        "id": "239958b8288240c6",
        "type": "ui_button",
        "z": "e0fb2a1b4fe214e2",
        "name": "Botão Resetar",
        "group": "b481b188a48757d5",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "🔁 Resetar",
        "tooltip": "Resetar contagem",
        "color": "",
        "bgcolor": "#f44336",
        "className": "",
        "topic": "",
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "0e6dbece1ded58fe"
            ]
        ]
    },
    {
        "id": "de07a881721bef04",
        "type": "ui_button",
        "z": "e0fb2a1b4fe214e2",
        "name": "Botão Próximo",
        "group": "b481b188a48757d5",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "➡️ Próximo",
        "tooltip": "Próximo jogador",
        "color": "",
        "bgcolor": "#4caf50",
        "className": "",
        "topic": "",
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "e2eaf3ce43366893"
            ]
        ]
    },
    {
        "id": "0e6dbece1ded58fe",
        "type": "mqtt out",
        "z": "e0fb2a1b4fe214e2",
        "name": "Enviar Reset",
        "topic": "esp32/passes/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 1390,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2eaf3ce43366893",
        "type": "mqtt out",
        "z": "e0fb2a1b4fe214e2",
        "name": "Enviar Next",
        "topic": "esp32/passes/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 1390,
        "y": 520,
        "wires": []
    },
    {
        "id": "ddbf30fb9e57e545",
        "type": "inject",
        "z": "e0fb2a1b4fe214e2",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 1150,
        "y": 580,
        "wires": [
            [
                "0e6dbece1ded58fe"
            ]
        ]
    },
    {
        "id": "0ac2b3f2d9d33fbb",
        "type": "inject",
        "z": "e0fb2a1b4fe214e2",
        "name": "next",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "next",
        "payloadType": "str",
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "e2eaf3ce43366893"
            ]
        ]
    },
    {
        "id": "4704f49d47dd8e68",
        "type": "debug",
        "z": "e0fb2a1b4fe214e2",
        "name": "Dados Recebidos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1580,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeREDMonitorPasses",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "b481b188a48757d5",
        "type": "ui_group",
        "name": "Monitor ESP32",
        "tab": "c71c36167be116a8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c71c36167be116a8",
        "type": "ui_tab",
        "name": "🏟️ Painel de Passes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05c39b579739742e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
